.width-inherit {
    width: inherit;
}

.height-inherit{
    height: inherit;
}

.width-height-inherig {
    width: inherit;
    height: inherit;
}

.width-height-100-percent {
    width: 100px;
    height: 100%;
}

.red {
    color: red;
    width: 100vw;
    height: 100vh;
}